apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - helmrelease.yaml
  # Note: postgres-certificate.yaml and pg-hba-configmap.yaml removed
  # CNPG handles TLS natively and pg_hba is managed by the operator
