apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: supabase

resources:
  - ../base

patches:
  - target:
      kind: HelmRelease
      name: cnpg-cluster
    patch: |
      - op: replace
        path: /metadata/namespace
        value: supabase
